# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.log

# Virtual env
.venv/
env/
venv/
ENV/

# Env files
.env
.env.*

# Byte-compiled
*.py[cod]

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Database / data dumps
*.sqlite3
*.db
*.sql
*.bak

# Docker
docker-compose.override.yml

*~
